html {
  background-color: ;
  font-family: 'Merriweather', serif;
}

caption {
  text-align: center;
}

.grey {
  background-color: #f2f2f2;
  border: 1px solid #666;
  color: #333;
  border-radius: 8px;
}

.red {
  background-color: #f2bcbc;
  border: 1px solid #b92828;
  color: #991919;
  border-radius: 8px;
}

.green {
  background-color: #d1e0bf;
  border: 1px solid #6b7e54;
  color: #51603f;
  border-radius: 8px;
}

.blue {
  background-color: #d2d6f0;
  border: 1px solid #1d38da;
  color: #38448e;
  border-radius: 8px;
}

tbody > td {
  vertical-align: top;
  text-align: right;
  min-width: 30em;
}

p {
  margin: .25rem;
  vertical-align: inherit;
  text-align: left;
  padding: .25rem;
}
